In [1]:
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql.types import *
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession

import pandas as pd
import numpy as np

In [2]:
sc = SparkContext()
sqlContext = SQLContext(sc)

In [4]:
csv_list = ["09","10","11","12"]
df_list = []
for listname in csv_list:
    df = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferSchema='true')\
        .load('C:/ssafy/2nd/s03p22a305/bigdata/analysis/2019-'+listname+'.csv')\
        .cache()
    
    df = df.drop(["회원_시도명", "회원_시군구명", "개인기업구분", "매출년원일", "가맹점_시도명", "가맹점_시군구명", "가맹점_읍면동명", "결제건수", "회원수"])
    df_list.append(df)

TypeError: col should be a string or a Column

In [29]:
df = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferSchema='true')\
#         .option("delimeter", "\t")\
        .load('C:/ssafy/2nd/s03p22a305/bigdata/analysis/2019-09.csv')\
        .cache()

IndentationError: unexpected indent (<ipython-input-29-a0b8cd1e49a5>, line 4)

In [28]:
df.head(5)

[Row(회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수='서울\t\t개인\t1.남성\t4.40대\t190921\t13\t강원\t강릉시\t강동면\t2004\t26000\t3\t3'),
 Row(회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수='강원\t강릉시\t기업\t3.기업\t0.기타\t190904\t12\t강원\t강릉시\t강동면\t2104\t362050\t4\t4'),
 Row(회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수='강원\t강릉시\t기업\t3.기업\t0.기타\t190925\t12\t강원\t강릉시\t강동면\t2104\t55800\t3\t3'),
 Row(회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수='강원\t강릉시\t기업\t3.기업\t0.기타\t190916\t12\t강원\t강릉시\t강동면\t2104\t280000\t9\t6'),
 Row(회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수='강원\t강릉시\t개인\t1.남성\t4.40대\t190926\t6\t강원\t강릉시\t강동면\t2104\t9900\t3\t3')]

In [16]:
# df = reduce(DataFrame.drop, ["회원_시도명", "회원_시군구명", "개인기업구분", "매출년원일", "가맹점_시도명", "가맹점_시군구명", "가맹점_읍면동명", "결제건수", "회원수"], df)

df = df.drop("회원_시도명")

In [22]:
df.columns

['회원_시도명\t회원_시군구명\t개인기업구분\t성별\t연령\t매출년월일\t승인시간대1\t가맹점_시도명\t가맹점_시군구명\t가맹점_읍면동명\t가맹점업종코드\t결제금액\t결제건수\t회원수']

In [ ]:
schema = StructType([StructField("성별", StringType(), True), StructField("연령", StringType(), False),\
                     StructField("승인시간대1", LongType(), True), StructField("가맹점업종코드", StringType(), True)])

df_all = sqlContext.createDataFrame([],schema)

In [ ]:
for df in df_list:
    df_all.union(df)