In [1]:
# import modules
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql.types import *
import pandas as pd
import numpy as np

class pysparkTest:
    
    sc = SparkContext()
    sqlContext = SQLContext(sc)
    
    def __init__(self, name):
        pass

    def makedf():
        csv_list = ["09","10","11","12"]
        df_list = []
        for listname in csv_list:
            df = pysparkTest.sqlContext.read.format('com.databricks.spark.csv')\
                .options(header='true', inferSchema='true')\
                .load('C:/ssafy/2nd/s03p22a305/bigdata/analysis/2019-'+listname+'.csv')\
                .cache()
        df_list.append(df)
        schema = StructType([StructField("성별", StringType(), True), StructField("연령", StringType(), False),\
                             StructField("승인시간대1", LongType(), True), StructField("가맹점업종코드", StringType(), True)])
        df_all = pysparkTest.sqlContext.createDataFrame([],schema)
        for df in df_list:
            df_all.union(df)
        return df_all

In [2]:
py = pysparkTest
py

__main__.pysparkTest

In [3]:
df = py.makedf()
df

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 4 columns and the second table has 14 columns;;
'Union
:- LogicalRDD [성별#386, 연령#387, 승인시간대1#388L, 가맹점업종코드#389], false
+- Relation[ȸ��_�õ���#288,ȸ��_�ñ�����#289,���α������#290,����3#291,����4#292,��������#293,���νð���1#294,������_�õ���#295,������_�ñ�����#296,������_���鵿��#297,�����������ڵ�#298,�����ݾ�#299L,�����Ǽ�#300,ȸ����#301] csv