In [1]:
from pyspark.sql import SQLContext
from pyspark.sql.functions import *
from pyspark import SparkContext
from pyspark.sql.types import *
from functools import reduce
from pyspark.sql import DataFrame
from pyspark.sql import SparkSession

import pandas as pd
import numpy as np

In [2]:
sc = SparkContext()
sqlContext = SQLContext(sc)

In [4]:
csv_list = ["09","10","11","12"]
df_list = []
for listname in csv_list:
    df = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferSchema='true')\
        .load('C:/ssafy/2nd/s03p22a305/bigdata/analysis/2019-'+listname+'.csv')\
        .cache()
    
    df = df.drop(["회원_시도명", "회원_시군구명", "개인기업구분", "매출년원일", "가맹점_시도명", "가맹점_시군구명", "가맹점_읍면동명", "결제건수", "회원수"])
    df_list.append(df)

TypeError: col should be a string or a Column

In [32]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Word Count") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [33]:
df = spark.read.option("delimeter", "\t").option('header',True).csv('2019-09.txt')

In [34]:
df

DataFrame[회원_시도명	회원_시군구명	개인기업구분	성별	연령	매출년월일	승인시간대1	가맹점_시도명	가맹점_시군구명	가맹점_읍면동명	가맹점업종코드	결제금액	결제건수	회원수: string]

In [30]:
df = sqlContext.read.format('com.databricks.spark.csv')\
        .options(header='true', inferSchema='true')\
        .load('C:/ssafy/2nd/s03p22a305/bigdata/analysis/2019-09.csv')\
        .cache()

In [31]:
df.head(5)

[Row(ȸ��_�õ���='����', ȸ��_�ñ�����=None, ���α������='����', ����3='1.����', ����4='4.40��', ��������=190921, ���νð���1=13, ������_�õ���='����', ������_�ñ�����='������', ������_���鵿��='������', �����������ڵ�=2004, �����ݾ�=26000, �����Ǽ�=3, ȸ����=3),
 Row(ȸ��_�õ���='����', ȸ��_�ñ�����='������', ���α������='���', ����3='3.���', ����4='0.��Ÿ', ��������=190904, ���νð���1=12, ������_�õ���='����', ������_�ñ�����='������', ������_���鵿��='������', �����������ڵ�=2104, �����ݾ�=362050, �����Ǽ�=4, ȸ����=4),
 Row(ȸ��_�õ���='����', ȸ��_�ñ�����='������', ���α������='���', ����3='3.���', ����4='0.��Ÿ', ��������=190925, ���νð���1=12, ������_�õ���='����', ������_�ñ�����='������', ������_���鵿��='������', �����������ڵ�=2104, �����ݾ�=55800, �����Ǽ�=3, ȸ����=3),
 Row(ȸ��_�õ���='����', ȸ��_�ñ�����='������', ���α������='���', ����3='3.���', ����4='0.��Ÿ', ��������=190916, ���νð���1=12, ������_�õ���='����', ������_�ñ�����='������', ������_���鵿��='������', �����������ڵ�=2104, �����ݾ�=280000, �����Ǽ�=9, ȸ����=6),
 Row(ȸ��_�õ���='����', ȸ��_�ñ�����='������', ���α������='����', ����3='1.����', ����4='4.40��', ��������=190926, ���νð���1=6, ������_�õ���='����', ������_�ñ�����='������', ������_���鵿��='������', �����������ڵ�=2104, �����ݾ�=9900, �����Ǽ�=3, ȸ����=3)]

In [16]:
# df = reduce(DataFrame.drop, ["회원_시도명", "회원_시군구명", "개인기업구분", "매출년원일", "가맹점_시도명", "가맹점_시군구명", "가맹점_읍면동명", "결제건수", "회원수"], df)

df = df.drop("회원_시도명")

In [22]:
df.columns

['회원_시도명\t회원_시군구명\t개인기업구분\t성별\t연령\t매출년월일\t승인시간대1\t가맹점_시도명\t가맹점_시군구명\t가맹점_읍면동명\t가맹점업종코드\t결제금액\t결제건수\t회원수']

In [ ]:
schema = StructType([StructField("성별", StringType(), True), StructField("연령", StringType(), False),\
                     StructField("승인시간대1", LongType(), True), StructField("가맹점업종코드", StringType(), True)])

df_all = sqlContext.createDataFrame([],schema)

In [ ]:
for df in df_list:
    df_all.union(df)