In [1]:
import classtest

AnalysisException: Union can only be performed on tables with the same number of columns, but the first table has 4 columns and the second table has 14 columns;;
'Union
:- LogicalRDD [성별#456, 연령#457, 승인시간대1#458L, 가맹점업종코드#459], false
+- Relation[ȸ��_�õ���#358,ȸ��_�ñ�����#359,���α������#360,����3#361,����4#362,��������#363,���νð���1#364,������_�õ���#365,������_�ñ�����#366,������_���鵿��#367,�����������ڵ�#368,�����ݾ�#369L,�����Ǽ�#370,ȸ����#371] csv